<style th:fragment="side">
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #F1F1F1;
    }

    .side {
        width: 220px;
        height: 800px;
        margin: 25px 0 25px 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: center;
        border-radius: 10px;
    }

    .side-up {
        width: 100%;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .side-down {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: white;
    }

    .nav-item {
        display: flex;
        align-items: center;
        width: 180px;
        height: 40px;
        margin: 10px 0 0 15px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87);
        border-radius: 5px;
        transition: background-color 0.3s;
        text-decoration: none;
    }

    .nav-item i {
        font-size: 20px;
        margin: 0  15px 0 15px;
    }

    .nav-item:hover {
        background-color: #007bff;
    }
</style>
<div class="side" th:fragment="side">
    <div class="side-up" style="background-color: white;">
        <a th:href="@{/dashboard}" id="side_dashboard" class="nav-item nav-dashboard">
            <i class="bi bi-border-all"></i>
            <span>대시보드</span>
        </a>
        <a th:href="@{/community}" class="nav-item nav-community">
            <i class="bi bi-people-fill"></i>
            <span>커뮤니티</span>
        </a>
        <a th:href="@{/lesson}" id="side_lesson" class="nav-item nav-courses">
            <i class="bi bi-search"></i>
            <span>강의 찾기</span>
        </a>
        <a th:href="@{/my-courses}" class="nav-item nav-my-courses">
            <i class="bi bi-card-checklist"></i>
            <span>내 강의</span>
        </a>
        <a th:href="@{/calendar/cal}" id="side_calendar" class="nav-item nav-calendar">
            <i class="bi bi-calendar-event"></i>
            <span>캘린더</span>
        </a>
        <a th:href="@{/gyms}" id="side_gym" class="nav-item nav-gym">
            <i class="bi bi-house-door"></i>
            <span>헬스장 찾기</span>
        </a>
    </div>
    <div class="side-down"></div>
</div>