<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강의 상세보기</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="text/javascript"
            th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${@environment.getProperty('kakao.api.scriptKey')}}"></script>
    <script type="text/javascript" th:src="@{'/js/lesson/bitmaskToDays.js'}"></script>
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js}"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/lesson/register.css}">
    <link rel="stylesheet" th:href="@{/css/lesson/lessonSearch.css}">
    <link rel="stylesheet" th:href="@{/css/mainTool.css}">

    <script>
        const memberId = [[${member.id}]];
        const lessonId = [[${lesson.id}]];
        const roomId = `[[${lesson.roomId}]]`;

        function enrollLesson() {
            fetch(`/api/lesson/enroll`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({memberId, lessonId}),
            })
                .then(response => response.json())
                .then(data => {
                    alert("수강 신청이 완료되었습니다.");
                    location.reload();
                })
                .catch(error => console.error("Error:", error));
        }

        function cancelEnrollment() {
            fetch(`/api/lesson/cancel/${memberId}/${lessonId}`, {
                method: "DELETE",
            })
                .then(response => response.json())
                .then(data => {
                    alert("수강이 취소되었습니다.");
                    location.reload();
                })
                .catch(error => console.error("Error:", error));
        }

        function enterChatRoom() {
            location.href = `/chat?roomId=${roomId}`;
        }

        function updateLesson() {
            location.href = `/lesson/${lessonId}/edit`;
        }

        function openModal() {
            let modal = document.getElementById("mapModal");
            modal.style.display = "block";

            let kakaoMap = document.getElementById("kakaoMap");
            kakaoMap.innerHTML = "";

            let latitude = event.target.dataset.latitude;
            let longitude = event.target.dataset.longitude;

            let mapOption = {
                center: new kakao.maps.LatLng(latitude, longitude),
                level: 3
            };

            let map = new kakao.maps.Map(kakaoMap, mapOption);

            let marker = new kakao.maps.Marker({
                position: new kakao.maps.LatLng(latitude, longitude)
            });

            marker.setMap(map);
        }

        function closeModal() {
            document.getElementById("mapModal").style.display = "none";
        }

        function toggleEnrollment(lessonId, isEnrolled, button, tdCurrent) {
            let url = isEnrolled
                ? `/api/lesson/cancel/${memberId}/${lessonId}`
                : `/api/lesson/enroll`;

            let method = isEnrolled ? "DELETE" : "POST";
            let body = isEnrolled ? null : JSON.stringify({memberId, lessonId});

            let currentCount = parseInt(tdCurrent.textContent.split(" / ")[0]);
            let maxCount = parseInt(tdCurrent.textContent.split(" / ")[1]);
            let newCount = isEnrolled ? currentCount - 1 : currentCount + 1;

            tdCurrent.textContent = `${newCount} / ${maxCount}`;

            if (newCount >= maxCount) {
                button.textContent = "마감";
                button.disabled = true;
            } else {
                button.textContent = isEnrolled ? "신청" : "취소";
            }

            fetch(url, {
                method: method,
                headers: {"Content-Type": "application/json"},
                body: body
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        button.onclick = () => toggleEnrollment(lessonId, !isEnrolled, button, tdCurrent);
                    } else {
                        tdCurrent.textContent = `${currentCount} / ${maxCount}`;
                        button.textContent = isEnrolled ? "취소" : "신청";
                        button.disabled = false;
                    }
                })
                .catch(() => {
                    tdCurrent.textContent = `${currentCount} / ${maxCount}`;
                    button.textContent = isEnrolled ? "취소" : "신청";
                    button.disabled = false;
                });
        }

        window.onload = function () {
            const lessonMasterId = [[${lesson.masterId}]];
            const lessonMax = [[${lesson.max}]];
            const lessonCurrent = [[${lesson.current}]];

            const chatRoomBtn = document.getElementById("chatRoomBtn");
            const updateBtn = document.getElementById("updateBtn");
            const enrollBtn = document.getElementById("enrollBtn");
            const cancelEnrollBtn = document.getElementById("cancelEnrollBtn");

            const bitmask = [[${lesson.days}]]
            document.getElementById("lessonDays").textContent = bitmaskToDays(parseInt(bitmask));

            // 강의 마스터인 경우
            if (lessonMasterId === memberId) {
                chatRoomBtn.style.display = "block";
                updateBtn.style.display = "block";
            } else {
                // 수강 인원이 최대에 도달한 경우
                if (lessonCurrent >= lessonMax) {
                    enrollBtn.textContent = "마감";
                    enrollBtn.disabled = true;
                    enrollBtn.style.display = "block";

                    // 이미 수강 신청한 경우
                    fetch(`/api/lesson/enrolled?lessonId=${lessonId}&memberId=${memberId}`)
                        .then(response => response.json())
                        .then(isEnrolled => {
                            if (isEnrolled.data.enrolled) {
                                // 수강 인원이 마감되었고, 이미 신청한 경우
                                cancelEnrollBtn.style.display = "block";
                                chatRoomBtn.style.display = "block";  // 채팅방 입장 버튼 표시
                            } else {
                                // 수강 신청하지 않은 경우
                                cancelEnrollBtn.style.display = "none";
                            }
                        })
                        .catch(error => console.error('Error checking enrollment:', error));
                } else {
                    // 수강 신청 가능 상태
                    fetch(`/api/lesson/enrolled?lessonId=${lessonId}&memberId=${memberId}`)
                        .then(response => response.json())
                        .then(isEnrolled => {
                            if (isEnrolled.data.enrolled) {
                                // 이미 수강 신청한 경우
                                cancelEnrollBtn.style.display = "block";
                                chatRoomBtn.style.display = "block";
                                enrollBtn.style.display = "none";
                            } else {
                                // 수강 신청하지 않은 경우
                                enrollBtn.style.display = "block";
                                cancelEnrollBtn.style.display = "none";
                            }
                        })
                        .catch(error => console.error('Error checking enrollment:', error));
                }
            }
        }

    </script>
    <style>
        #mapModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 20px;
            border: 1px solid black;
        }

        #kakaoMap {
            width: 500px;
            height: 400px;
        }
    </style>
</head>
<body>
<div class="container custom-container">
    <div th:replace="~{navi/header :: header}"></div>

    <div class="main-container">
        <div th:replace="~{navi/sidebar :: sidebar}"></div>

        <div class="card main-card">
            <div class="card-header">
                <h2 th:text="${lesson.title}"></h2>

            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th class="text-center">카테고리</th>
                        <td th:text="${lesson.categoryName}"></td>
                        <th class="text-center">위치</th>
                        <td th:text="${lesson.location}"></td>
                    </tr>
                    <tr>
                        <th class="text-center">강의 요일</th>
                        <td id="lessonDays"></td>
                        <th class="text-center">상세 위치</th>
                        <td>
                            <span th:text="${lesson.detailedLocation}"></span>
                            <button class="btn btn-sm btn-primary" onclick="openModal()"
                                    th:data-title="${lesson.title}"
                                    th:data-latitude="${lesson.latitude}"
                                    th:data-longitude="${lesson.longitude}">
                                지도 보기
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center">강의 기간</th>
                        <td th:text="|${lesson.startDay} ~ ${lesson.endDay}|"></td>
                        <th class="text-center">강의 시간</th>
                        <td th:text="|${lesson.startTime} ~ ${lesson.endTime}|"></td>
                    </tr>
                    <tr>
                        <th class="text-center">수강 인원</th>
                        <td th:text="|${lesson.current} / ${lesson.max}|"></td>
                        <th class="text-center">강사</th>
                        <td th:text="${lesson.masterName}"></td>
                    </tr>
                    <tr>
                        <th class="text-center">강의 소개</th>
                        <td colspan="5">
                            <pre th:text="${lesson.description}" style="font-family: inherit; white-space: pre-wrap; word-break: break-word;"></pre>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer text-center" id="buttonContainer">
                <button onclick="history.back()">뒤로 가기</button>
                <button onclick="location.href='/lesson'">강의 목록</button>
                <button id="chatRoomBtn" style="display: none;" onclick="enterChatRoom()">채팅방 입장</button>
                <button id="cancelEnrollBtn" style="display: none;" onclick="cancelEnrollment()">수강 취소</button>
                <button id="enrollBtn" style="display: none;" onclick="enrollLesson()">수강 신청</button>
                <button id="updateBtn" style="display: none;" onclick="updateLesson()">수정</button>
                <button id="deleteBtn" style="display: none;" onclick="deleteLesson()">삭제</button>
            </div>
        </div>
    </div>
</div>

<div id="mapModal">
    <h3 id="modalContent"></h3>
    <div id="kakaoMap"></div>
    <button onclick="closeModal()">Close</button>
</div>

<div id="mapModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-title" class="modal-title"></h4>
                <button type="button" class="close" onclick="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
                    <div class="col-md-6">
                        <div id="kakaoMap"></div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>