.chat-container {
    width: 920px;
    height: 800px;
}
.chat-container .row {
    height: 100%;
}
.chat-room-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-participant, .chat-room {
    flex: 1;
}

.chat-message-info {
    height: 100%;
}
.chat-content {
    height: 100%;
}
.chat-box {
    display: flex;
    flex-direction: column;
}
#unReadMessagesContainer {
    display: flex;
    flex-direction: column;
}
.my-message {
    text-align: right;
    display: inline-block;
    margin-left: auto;
    max-width: 80%;
    padding: 8px 16px;
    background-color: #d1ecf1;
    border-radius: 10px;
    margin-bottom: 10px;
}
.other-message {
    text-align: left;
    display: inline-block;
    margin-right: auto;
    max-width: 80%;
    padding: 8px 16px;
    background-color: #f8d7da;
    border-radius: 10px;
    margin-bottom: 10px;
}
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.message-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.message-time {
    font-size: 12px;
    color: gray;
    margin-bottom: 5px;
}
.chat-container p {
    margin: 0;
}

